<!doctype html>
<html lang="en">
    <head>
        <title>Timestamp microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h3>Example usage:</h3>
            <code><a href="/December%2024,%202016">/December%2024,%202016</a></code><br>
            <code><a href="/1482537600">/1482537600</a></code><br>
            <h3>Example output:</h3>
            <code>
                {
                  "unix": 1482537600,
                  "natural": "December 24, 2016"
                }
            </code>
        </div>
    </body>
</html>
